$notepicker_h: 200px;
$notepicker_w: 300px;
$bgsize: 53px;

.notePicker {
    -webkit-transform-origin: 60% 75%;
    -webkit-transform: rotate(-90deg);
    width: $notepicker_w;
    height: $notepicker_h;

    &[type=range]::-webkit-slider-thumb {
        -webkit-box-shadow: inset 0 0 10px 10px #000;    
        -webkit-border-radius: 50%;
        margin-top: $notepicker_h/2;
        -webkit-transform: scale(2);
    }

    &[type=range]::-webkit-slider-runnable-track {
        background-color: #fff;
        background-image: linear-gradient(90deg, transparent 0, rgba(0,0,0,.5) 1%, transparent 2%);
        -webkit-background-size: $bgsize $bgsize;
        background-size: $bgsize $bgsize;
        background-position: 7px 0;
        height: $notepicker_h;
    }
}